body {
    margin: 10px auto;
    font-family: 'Raleway', 'Helvetica', 'Arial', 'Sans-Serif';
}
.home-content {
    margin: 20px 0;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    padding-top: 10px;
}
.header {
    border-bottom: 1px solid #d5d5d5;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.header h3 {
    font-weight: normal;
    line-height: 40px;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.profile-image-container {
    text-align: center;
}
.profile-image {
    border-radius: 50%;
    width: 150px;
    margin-top: 20px;
}
