/*******************************
 * Site wide styles
 ******************************/

body {
    margin: 10px auto;
    font-family: 'Raleway', 'Helvetica', 'Arial', 'Sans-Serif';
}
a {
    text-decoration: none;
    color: #020692;
}
a:hover {
    text-decoration: none;
    color: #999;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    margin: 20px 0; 
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

/*******************************
 * Header
 ******************************/

.header {
    border-bottom: 1px solid #d5d5d5;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.header h3 {
    font-weight: normal;
    line-height: 40px;
}
.header .nav li a:hover {
    /* TODO: Fix for pill colors */
    color: #020692;
}
.header .nav li.active a {
    background-color: #020692;
}
.header .nav .active a:hover {
    color: #FFF;
}
.nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
.nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

/*******************************
 * Footer
 ******************************/

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    padding-top: 10px;
}

/*******************************
 * Content
 ******************************/

.content {
    margin: 50px 0;
}

/* Home */
.home-content {
    margin: 20px 0;
}
.profile-image-container {
    text-align: center;
}
.profile-image {
    border-radius: 50%;
    width: 150px;
    margin-top: 20px;
}

/* Blog */
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
