---
layout: default
---
{% include navigation.html %}
<div id="back" class="back-button">
  <a href="/blog/"><i class="fa fa-arrow-circle-o-left fa-3x"></i></a>
</div>

<div class="container blog-post">
  <h2 class="secondary">{{ page.title }}</h2>
  <p class="light"><strong>{{ page.date | date_to_string }}</strong> | {{ page.category }}</p>
  <p class="lead light">{{ page.description }}</p>
  <p class="secondary light">
    {% for tag in page.tags %}
      <i class="fa fa-tag"></i> {{ tag }}<span class="px-1"></span>
    {% endfor %}
  </p>
  <hr>
  <div class="p-2"></div>
  <div class="post-content">
    {{ content }}
  </div>
</div>